**Data types** are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data.

# **Data Types:**

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

# **Input And Output**

  Object to the printed indicates that there may be more than one object

In [ ]:
#Printing more than one object
print("Hello", "how are you?")

The separator between the arguments to print() function in Python is space by default, which can be modified and can be made to any character, integer or string as per our choice

In [ ]:
print('A','B','C', sep='')

Specify what to print at the end. Default is line feed ('\n').

In [ ]:
print("Welcome to" , end = ' ')

File must be an object with write(string) method. If omitted it,sys.stdout will be used which prints objects on the screen.

In [ ]:
sourceFile = open('python.txt', 'w')
print('Pretty cool, huh!', file = sourceFile)
sourceFile.close()

If True, the stream is forcibly flushed. Default value: False

**Operators** are used to perform operations on variables and values.

# **Some of operators:**

Addition (+) : Addition operators are used with numeric values to 
perform common mathematical operations .

Equal (==) : Equal operators are used to compare two values.

And : And operators are used to combine conditional statements.

In [ ]:
#Addition
A=4 
B=3
print(A+B)

7

In [ ]:
#Equal Operator
A=3
B=4
print(A==B)

False

In [ ]:
#And Operator 
A=4
print(A>2 and A<7)

True

# **Problem No : 01**

In [ ]:
Xlist = [1, 2, 3, 4, 5, 6 ]
print(Xlist)
Xlist1 = Xlist[2]
print(Xlist1)

[1, 2, 3, 4, 5, 6]
3

# **Problem No: 02**

In [ ]:
a = 3
b = 5
print(a+b)
print(a-b)
print(a*b)

8
-2
15

# **Problem No: 03**

In [ ]:
a = 3
b = 5
print(a//b)
print(a/b)

0
0.6

# **Problem No : 04**

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0], color_list[-1])

Red Black

# **Problem No: 05**

In [ ]:
mult ="""a string that you "don't" have to escape

This
is a ....... multi-line
heredoc string"""
print(mult)

a string that you "don't" have to escape

This
is a ....... multi-line
heredoc string

# **Problem No: 06**

In [ ]:
b= int(input("Input the base : "))
h= int(input("Input the height : "))

area = b*h/2

print("area = ", area)

Input the base : 20
Input the height : 10
area =  100.0

# **Problem No: 07**

In [ ]:
mult = """Name = Izaz
Age = 21
Address = Jashore, Bangladesh"""

print(mult)

Name = Izaz
Age = 21
Address = Jashore, Bangladesh

In [ ]:
    name = "Izaz"
    age = "21"
    address = "Jashore, Bangladesh"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))

Name: Izaz
Age: 21
Address: Jashore, Bangladesh

# **Problem No: 08**

In [ ]:
p = float(input("Enter the principal amount : "))
 
t = float(input("Enter the number of years : "))
 
r = float(input("Enter the rate of interest : "))
ci =  p * (pow((1 + r / 100), t)) 
print("Compound interest : {}".format(ci))

# **Problem No: 09**

In [ ]:
mult = """ * * * * *
  * * * *
   * * *
    * *
     * """

print(mult)

 * * * * *
  * * * *
   * * *
    * *
     *

# **Problem No: 10**

In [ ]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 60
60.00 Celsius is: 140.00 Fahrenheit